.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 85px 0px 60px 0px;
}

.login-header__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.login-header__text {
  font-size: 14px;
  line-height: 18px;
  color: var(--midium-gray);
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-form input {
  width: 100%;
  font-size: 16px;
  padding: 15px 0px;
  border: none;
}

.login-form input:focus {
  outline: none;
}

.login-form input::placeholder {
  color: var(--light-gray);
}

.login-form input[type="submit"] {
  cursor: pointer;
}

.login-form input:first-child,
.login-form input:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form input:nth-child(2) {
  margin-bottom: 20px;
}

.login-form__btn {
  color: var(--dark-gray);
  margin-top: 10px;
  background-color: #f6f6f6;
}

.login-form a {
  color: var(--dark-gray);
  font-size: 12px;
  margin: 20px 0px;
}

.platform {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: var(--default-border);
}

.platform-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 7px 0px;
  height: 52px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.platform-login__column {
  width: 15%;
  display: flex;
  justify-content: center;
}

.platform-login__column:nth-child(2) {
  width: 70%;
}

.platform-login--naver {
  background-color: #1fc800;
  color: #fff;
}

.platform-login--naver img {
  width: 50px;
  height: 50px;
}

.platform-login--google img {
  width: 30px;
  height: 30px;
}

.platform-login--apple {
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 481px) {
  .login-form {
    align-items: center;
    width: 439px;
    margin: 0 auto;
  }

  .platform {
    width: 439px;
    margin: 0 auto;
  }
}
