#settings main {
  margin-top: 87px;
  padding: 0px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  margin: 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
}

.setting-item:nth-child(3) {
  border-bottom: none;
}

.setting-item__column {
  display: flex;
  align-items: center;
}

.setting-item__column i {
  margin-right: 15px;
}

.setting-item__column:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
}

.setting-item__new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red);
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
}
