.circle-alarm {
  position: absolute;
  border-radius: 50%;
  background-color: var(--red);
  color: #fff;
}

.circle-alarm--number {
  width: 25px;
  height: 25px;
  top: -7px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-alarm--dot {
  top: 3px;
  width: 5px;
  height: 5px;
}
