.screen-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 16px;
  background-color: #fff;
  z-index: 2;
}

.screen-header__column {
  display: flex;
  align-items: center;
}

.screen-header__title {
  font-size: 23px;
  font-weight: 600;
}

.screen-header__column:last-child > span {
  position: relative;
  margin-left: 18px;
  color: var(--dark-gray);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .screen-header {
    width: 50%;
  }
}
