.seperate-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 15px;
  background-color: #fff;
  z-index: 2;
}

.seperate-header__column {
  display: flex;
  align-items: center;
}

.seperate-header__title {
  font-size: 23px;
  font-weight: 600;
}

.seperate__column i {
  opacity: 0.85;
}
